<form id="commentForm">
  <input type="text" name="username" required placeholder="用户名" />
  <input type="email" name="email" required placeholder="电子邮件" />
  <textarea
    rows="4"
    name="comment"
    placeholder="评论内容"
    required
    form="commentForm"
  ></textarea>
  <button>提交</button>
</form>

<script>
  const form = document.getElementById("commentForm");

  const options = {
    threshold: 0,
  };

  const cb = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        if (document.getElementById("comments")) return;
        getComments();
      }
    });
  };
  const observer = new IntersectionObserver(cb, options);
  observer.observe(form);
  form.addEventListener("beforeunload", (event) => {
    event.preventDefault();
    observer.disconnect();
    return;
  });

  $("#commentForm").on("submit", onSubmit);

  function onSubmit(e) {
    e.preventDefault();
    e.stopPropagation();

    const email = form.querySelector("input[name='email']").value;
    const username = form.querySelector("input[name='username']").value;
    const comment = form.querySelector("textarea[name='comment']").value;

    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LcbNsAZAAAAAOi1-qBn4LrVlzUyfylMm7TlXvqS", {
          action: "submit/comment",
        })
        .then(function (token) {
          fetch(
            "https://touzifang-xyz-lambda.netlify.app/.netlify/functions/comment",
            {
              method: "POST",
              headers: {
                "Content-Type": "text/plain; charset=utf-8", // ! important
              },
              body: JSON.stringify({
                opt: "ADD",
                token,
                data: {
                  email,
                  username,
                  comment,
                  url: window.location.pathname,
                },
              }),
            }
          )
            .then((response) => {
              return response.json();
            })
            .then((res) => {
              if (res.ok) {
                notyf.success("Comment Added!");
              } else {
                notyf.error("Failed to Add Comment!");
              }
            });
        });
    });
  }

  function getComments() {
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LcbNsAZAAAAAOi1-qBn4LrVlzUyfylMm7TlXvqS", {
          action: "get/comment",
        })
        .then(function (token) {
          fetch(
            "https://touzifang-xyz-lambda.netlify.app/.netlify/functions/comment",
            {
              method: "POST",
              headers: {
                "Content-Type": "text/plain; charset=utf-8", // ! important
              },
              body: JSON.stringify({
                opt: "GET",
                token,
                data: {
                  url: window.location.pathname,
                },
              }),
            }
          )
            .then((response) => {
              return response.json();
            })
            .then((res) => {
              const comments = res.data;
              $("<ul id='comments'></ul>").appendTo("#main > article");
              for (const { username, created_at, comment } of comments) {
                $(`<li>
                      <span>
                        Username: ${username} Created At: ${new Date(
                  created_at
                ).toLocaleString()}
                      </span>
                      <div>${comment}</div>
                    </li>`).appendTo("#comments");
              }
            });
        });
    });
  }
</script>
