<form id="comment-form">
  <input type="text" name="username" placeholder="用户名" />
  <input type="email" name="email" placeholder="电子邮件" />
  <textarea
    rows="4"
    name="comment"
    placeholder="评论内容"
    required
    form="comment-form"
  ></textarea>
  <button>提交</button>
</form>
<div></div>

<script>
  $("#comment-form").on("click", onClick);

  function onClick(e) {
    e.preventDefault();
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LcbNsAZAAAAAOi1-qBn4LrVlzUyfylMm7TlXvqS", {
          action: "submit/comment",
        })
        .then(function (token) {
          console.log("token", token);
        });
    });
  }
</script>
